# TestMisskeyApi 設定ファイル

# APIを送る先のインスタンス名
instance = misskey.xyz

# ユーザアカウント1。ダミー投稿とかするテスト用ユーザ
user1AccessToken = *********************************

# ユーザアカウント2。あなたのメインアカウント等、既にある程度のデータがあること
user2AccessToken = *********************************

# ユーザアカウント3。テスト用ユーザ。フォローに承認が必要な鍵垢であること
user3AccessToken = *********************************

# ユーザ1のパスワード。もし /api/i/change_password をテストしたいならどうぞ
# (WebUIのアクセストークンでないと変更に失敗します
user1Password = ********************

# ドライブのテストに使う画像のパス
jpegSample=./sample.jpg

